* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.insideDiv {
    padding: 20px;
    border: 1px solid black;
}

.flexbox {
    display: flex;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;    
}

.bg-black {
    background-color: black;
}