* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row,
.insideDiv {
    flex:1;
}

.flexbox,
.menu-container {
    display: flex;
}

.options {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-container {
    gap: 100px;
    margin-left: -20vw;
}

.container {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    height: 700px;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.bg-black {
    background-color: black;
}
